<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="The Official Portfolio Website for Josh Yule's Web App,
	Mobile App, and other various programming projects. This is also Josh's Official Developer
	Website.">
	<meta name="author" content="Josh Yule, KuroyukiDev">

	<title>{{ subTitle }} | KuroyukiDev</title>
	<link rel="icon" type="image/png" href="/public/android-icon-192x192.png">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	      crossorigin="anonymous">
	<link href="/public/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet"/>


</head>
<body>

{{{ body }}}

<script src="/public/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/public/vendor/bootstrap4/js/popper.min.js"></script>
<script src="/public/vendor/bootstrap4/js/bootstrap.min.js"></script>
</body>
</html>
